<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/themeassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/themeassets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/themeassets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/themeassets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/themeassets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/themeassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

   <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/themeassets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../static/themeassets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/themeassets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/themeassets/images/favicon.png">

    <!--Custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">

    {% block extra_css %}
    {% endblock %}

  </head>
    <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo" href="../../index.html"><img src="../static/themeassets/images/logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="../static/themeassets/images/faces/face1.jpg" alt="profile" />
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">
                    {% if current_user.is_authenticated %}
                      {{ current_user.username }}
                    {% else %}
                      Anonymous User
                    {% endif %}
                  </span>
                  <span class="text-secondary text-small">Good day</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_bp.index') }}">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home-outline menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_bp.index', filter='trending') }}">
                <span class="menu-title">Trending Projects</span>
                <i class="mdi mdi-fire menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_bp.get_bookmarks') }}">
                <span class="menu-title">My Bookmarks</span>
                <i class="mdi mdi-bookmark-outline menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Donation History</span>
                <i class="mdi mdi-history menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_bp.get_initiatives') }}">
                <span class="menu-title">My Initiatives</span>
                <i class="mdi mdi-hand-heart-outline menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('project_bp.new_project') }}">
                <span class="menu-title">Post a Project</span>
                <i class="mdi mdi-pencil-outline menu-icon"></i>
              </a>
            </li>
            <li class="logout-btn nav-item">
              {% if current_user.is_authenticated %}
              <a href="{{ url_for('logout_bp.logout') }}" class="btn btn-gradient-primary mb-2">Logout</a>
              {% else %}
              <a href="{{ url_for('login_bp.login') }}" class="btn btn-gradient-primary mb-2">Login</a>
              {% endif %}
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% block content%}

            {% endblock %}

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/themeassets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/themeassets/js/off-canvas.js"></script>
    <script src="../static/themeassets/js/misc.js"></script>
    <script src="../static/themeassets/js/settings.js"></script>
    <script src="../static/themeassets/js/todolist.js"></script>
    <script src="../static/themeassets/js/jquery.cookie.js"></script>
    <!-- endinject -->

    <!-- injeect my custom js -->
    <script src="../static/js/base.js"></script>
  </body>
</html>