{% extends "./base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
{% endblock extra_css%}

{% block content %}
<div class="col-md-6 grid-margin card stretch-card">
	<div>
		<div class="card-body">
			<div class="row">
			  <div class="col-2">
			    <img src="../static/themeassets/images/faces/face1.jpg" alt="image" class="rounded-circle">
			  </div>
			  <div class="col-7 project-title">
			    <h4 class="card-title"> {{ project.title }}</h4>
			  </div>
			</div>
			<div class="pt-4">
			    <p class="card-text">
			      {{ project.content }}
			    </p>
			</div>
		</div>
		<div class="card-body">
		<hr>
			<div class="int-buttons">
				<div class="col-2"><a href="#" class="mdi mdi-currency-usd"></a><span class="int-count" >{{ project.donation_count }}</span></div>
				<div class="col-2"><a href="#" class="mdi mdi-heart-outline"></a><span class="int-count" >{{ project.like_count }}</span></div>
				<div class="col-2"><a href="#" class="mdi mdi-comment-outline"></a><span class="int-count" >{{ project.comment_count }}</span></div>
				<div class="col-2"><a href="#" class="mdi mdi-share-variant-outline"></a></div>
				<div class="col-2"><a href="#" class="mdi mdi-bookmark-outline"></a><span class="int-count" >{{ project.bookmark_count }}</span></div>
			</div>
		</div>
	</div>
	<!--Comment-->
	<div class="pt-1 comments-container">
	<hr>
	<h3>Comments</h3>
	<div class="comment">
		<div class="row comment-user">
		  <div class="col-3 ">
		    <img src="../static/themeassets/images/faces/face1.jpg" alt="image" class="rounded-circle">
		  </div>
		  <div class="col-9 project-title">
		    <h4 class="card-title">Finch Harold</h4>
		  </div>
		</div>
	    <p class="pt-2 card-text">
	      EXample comment. Someone says they know the need.
	      Xample comment. Someone says they know the need.
	      Xample comment. Someone says they know the need.
	    </p>
	    <hr>
	</div>
	<div class="comment">
		<div class="row comment-user">
		  <div class="col-3 ">
		    <img src="../static/themeassets/images/faces/face1.jpg" alt="image" class="rounded-circle">
		  </div>
		  <div class="col-9 project-title">
		    <h4 class="card-title">Mr. Reese</h4>
		  </div>
		</div>
	    <p class="pt-2 card-text">
	      EXample comment. Someone says they know the need.
	      Xample comment. Someone says they know the need.
	      Xample comment. Someone says they know the need.
	    </p>
	    <hr>
	</div>
	</div>
	<!--endcomment-->
</div>
{% endblock content %}